/*
Theme Name: GranoStudio
Theme URI: https://wordpress.org/themes/twentyfifteen/
Author: GranoStudio
Author URI: https://www.granostudio.com.br/
Description: Novo site GranoStudio.
Version: 2.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: blog, two-columns, left-sidebar, accessibility-ready, custom-background, custom-colors, custom-header, custom-logo, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready
Text Domain: granostudio

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
strong{
  font-weight: bold;
  color: #68a852;
}
a{
  color: #68a852;
}
a:hover{
  color: #68a852;
}

/*   Single   */
.content p{
  text-align: left;
}
.thumb img{
  width: 100%;
  height: 550px;
}
@media (max-width: 414px) {
  .thumb img{
    width: 100%;
    height: 320px;
  }
}
.titulo-single{
  color: #FAFAFA;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 414px) {
  .titulo-single{
    margin-bottom: 25px;
  }
}
.thumbnail2{
  margin-top: 100px;
  position: fixed;
}
.posts{
  background-color: #FAFAFA;
  position: relative;
  margin-top: 600px;
  padding-top: 45px;
}
.section-social-comments{
  background-color: #FAFAFA;
  position: relative;
}
.mask{
  background: rgba(0,0,0,0.6);
  width: 100%;
  height: 550px;
  position: absolute;
  top: -15px;
}
@media (max-width: 414px) {
  .mask{
    height: 335px;
  }
}
.conteudo-thumbnail{
  position: absolute;
  top: 50%;
  margin-top: -80px;
}
.date{
  color: #FAFAFA;
}
.divider{
  color: #FAFAFA;
}
.conteudo{
  background-color: #FAFAFA;
  position: relative;
  margin-top: 600px;
}
@media (max-width: 414px) {
  .conteudo{
    background-color: #FAFAFA;
    position: relative;
    margin-top: 400px;
    width: 100%;
  }
}
/*   Single   */

/*   Categorias Sigle   */
.category ul{
    display: inline-block;
}
.category ul li{
    display: inline-block;
}
/*   Categorias Sigle   */

/*   Menu principal   */
.nav-menu li a{
  font-size: 11px;
  color: #333132;
}
@media (max-width: 414px) {
  .nav-menu li a{
    color: white;
  }
}
header{
  width: 100%;
  background-color: rgba(246,246,247,0.9);
  height: 88px;
}
header .container-fluid{
  margin-left: -15px;
  margin-right: -15px;
}
.header.navbar-fixed-top .navbar-default{
  border-radius: 0px;
  height: 88px;
}
header{
}
@media (max-width: 414px) {
  header.navbar-fixed-top .navbar-default .navbar-brand{
    height: 45px;
    left: 96%;
  }
  header{
    height: 80px;
  }
}
@media only screen and (max-width: 992px){
  header.navbar-fixed-top .navbar-default .navbar-toggle{
    border-radius: 25px;
    border: none;
    background-color: #68a852;
    margin-top: 15px;
  }
  header.open .navbar-default .nav-menu > li > a{
    color: white;
  }
  header.navbar-fixed-top .nav-social > li > a{
    color: white;
  }
}
@media only screen and (max-width: 992px){
  header.navbar-fixed-top .navbar-default .navbar-toggle .icon-bar{
    background-color: white;
  }
}
@media (min-width: 992px){
header.navbar-fixed-top .navbar-default .navbar-brand{
    margin-top: 10px;
  }
}
#menu-item-127 {
    border: none;
    cursor: pointer;
    height: 50px;
}
.sub-menu {
    margin-top: 10px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.sub-menu a {
    color: #333132;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.sub-menu a:hover {
  background-color: #f1f1f1;
}
#menu-item-127:hover .sub-menu {
    display: block;
    /*margin-bottom: 50px;*/
}
/*#menu-item-127:hover .sub-menu li a {
    margin-bottom: 50px;
}*/
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
/*   Menu principal   */

/*   Categorias do post   */
.lista-categoria{
  text-align: center;
  margin-top: 50px;
  align-items: center;
}
.lista-categoria li{
  display: inline-block;
  padding-left: 7px;
  padding-right: 7px;
}
/*   Categorias do post   */

/*   Categorias no post de destaque   */
.lista-categoria-index{
  text-align: center;
  margin-top: 260px;
  align-items: center;
}
.lista-categoria-index li{
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
/*   Categorias no post de destaque   */

/*   Mini thumb dos posts   */
.image-caption .image .caption{
  visibility: initial;
  background: rgba(0,0,0,0.6);
}
.image-caption .image:after {
  display: none;
  /*desativa a barra verde de carregamento*/
}
.image-caption .image .caption:after {
  background: none;
}
.image-caption .image .caption:hover img{
  transform:scale(1.1)
}
.image-caption .image .caption .anima {
  width: 75%;
  opacity: 1;
}
.image-caption .image .caption .anima span {
  line-height: 16px;
}
.image-caption .image .caption .logo-grano{
  margin-top: -40px;
}
.image-caption .image .caption .title{
  margin-top: 10px;
}
.image img{
  transition: all .2s ease-in-out;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}
.image:hover img{
  -webkit-transform: scale3d(1.1, 1.1, 1);
          transform: scale3d(1.1, 1.1, 1);
}
/*   Mini thumb dos posts   */

/*   Banner projetos   */
.item img{
  position: relative;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.page-project-v2 .slides{
  height: 500px;
}
@media (max-width: 414px) {
  .carousel .item img{
    height: 250px;
  }
  .page-project-v2 .slides{
    height: 250px;
  }
}
/*   Banner projetos   */

/*   Sessão título 'O que fizemos'   */
.section-3 .grid-portfolio {
  margin: 30px auto;
}
/*   Sessão título 'O que fizemos'   */

/*   Quando não houver thumbnail   */
.foto{
  width: 100%;
  height: 245px;
  background-color: #50403A;
}
/*   Quando não houver thumbnail   */

/*   Botão 'ir para o blog'   */
.section-4 .btn-enviar{
  margin-top: 0px;
}
/*   Botão 'ir para o blog'   */

@media (max-width: 414px) {
  /*imagem principal index*/
  .image-fade{
    padding-left: 0px;
    padding-right: 0px;
  }
  /*sessão 'conheça nosso processo'*/
  .section-1 .pad-left{
    padding-left: 0px;
  }
  .section-1 .btn-enviar{
    width: 100%;
  }
}

/*   Sessão 'conheça nosso processo'   */
@media only screen and (max-width: 992px){
  .section .txt-big {
    font-size: 42px;
  }
}
/*   Sessão 'conheça nosso processo   */

/*   Formulário de contato   */
@media (max-width: 414px) {
  .section-5 .formularios{
    padding: 0 0;
  }
}
/*   Formulário de contato  */

/*   Categorias página blog   */
.portfolio-filters > li{
  width: auto;
}
@media (max-width: 414px) {
  .portfolio-filters > li{
    width: 100%;
  }
}
/*   Categorias página blog   */

/*   */
@media (min-width: 992px) {
  .page-project-v2 .grid-portfolio .item a {
    height: 350px !important;
  }
}

/*   Banner home   */
.img-home{
  height: auto;
}

/*   Banner home   */

/*   Barra de pesquisa home   */
.content-search {
  margin: 50px auto;
}
@media (min-width: 992px) {
  .content-search2{
    padding-left: 158px;
    padding-right: 158px;
    margin-left: -28px;
  }
}
/*   Barra de pesquisa home   */

/*   Paginação blog   */
.paginacao-blog a{
  border-radius: unset !important;
  font-family: 'Avenir LT Std 35 Light';
  width: auto;
  color: #fff;
  background: #68a852 !important;
  padding: 7px 20px !important;
}
/*   Paginação blog   */
